<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SaveLogsTo" value="X:\CC_Logs"/>
    <add key="DefaultServer" value="10.20.40.116\OLTPVDEV1"/>
    <add key="AlwaysSave" value="True"/>
    <add key="AlwaysMask" value="False"/>
    <add key="SendTo1" value="mapenteng@fct.ca"/>
    <!-- <add key="SendTo2" value="sreitsma@fct.ca"/> -->
    <!-- <add key="SendTo#" value="exampleEmail@email.com"/>-->
  </appSettings>
</configuration>